%ul
  %li
    %h3
      = link_to 'Google grupp', 'http://groups.google.com/group/rubyee'
      = link_to 'rss', 'http://groups.google.com/group/rubyee/feed/atom_v1_0_msgs.xml?num=50', 
        :class => 'feed'

    %p Join with our official list, you can use English and Estonian.
  %li
    %h3
      = link_to 'Delicious', 'http://www.delicious.com/tag/ruby_ja_rails'
      = link_to 'rss', 'http://feeds.delicious.com/v2/rss/tag/ruby_ja_rails?count=15', 
        :class => 'feed'

    %p Our usergroup's shared link_tos, please use keyword 'ruby_ja_rails'.

  %li
    %h3
      = link_to 'Ruby for nubies', 'http://www.delicious.com/tag/ruby_algajatele'
      = link_to 'rss', 'http://feeds.delicious.com/v2/rss/tag/ruby_algajatele?count=15', 
        :class => 'feed'

    %p Our usergroup's shared link_tos for nubies, please use keyword 'ruby_algajatele'

  %li
    %h3
      = link_to 'Podcasts', 'http://podcasts.prii.it/confreaks'
      = link_to 'rss', 'http://podcasts.prii.it/confreaks', 
        :class => 'feed'
    %p Podcasts feed related to Ruby and Rails.

  %li
    %h3
      = link_to 'Facebook group', 'https://www.facebook.com/groups/540371525976518'
      = link_to 'rss', 'https://www.facebook.com/groups/540371525976518', 
        :class => 'feed'
    %p Join to our Facebook group.

  %li
    %h3
      = link_to 'RubyKino', 'http://rubykino.com'
    %p Meet other rubyist in real life with drinks and carrots.


.clearfix
