%ul
  %li
    %h2= link_to 'Apprise', 'http://apprise.eu'
    %ul
      %li= link_to 'Tanel Lebedev', 'http://twitter.com/_tanel'
  %li
    %h2= link_to 'Baltic IT Solutions', 'http://bits.ee'
    %ul
      %li= link_to 'Zahhar Kirillov', 'http://www.twitter.com/bits_ee'
      %li Andrei Filimonov
      %li= link_to 'Dmitri Semirenko', 'http://www.twitter.com/semirenko'
  %li
    %h2= link_to 'Cannedapps', 'http://cannedapps.com'
    %ul
      %li= link_to 'Kevin Valdek', 'http://www.kevinvaldek.com'
      %li= link_to 'Anton Narusberg', 'http://www.twitter.com/antonnarusberg'
      %li Kenneth Valdek
  %li
    %h2= link_to 'Clean Code', 'http://cleancode.co'
    %ul
      %li Anton Kuzmin
  %li
    %h2= link_to 'Desk Rock', 'http://deskrock.ee'
    %ul
      %li= link_to 'Janno Siilbek', 'http://www.linkedin.com/in/jannosiilbek'
      %li Murdho Savila
      %li Stanislav Gorski
      %li Heidi Taperson
      %li Andres Ivanov
      %li David Ochoa
      %li= link_to 'Mihhail Sidorin', 'http://www.linkedin.com/in/mihhailsidorin'
      %li Mai-Liis Hütt

  %li
    %h2= link_to "EENet", 'http://www.eenet.ee'
    %ul
      %li= link_to 'Laas Toom', 'http://blog.laaz.org'
      %li Ragnar Vutt

  %li
    %h2= link_to 'Fraktal', 'http://fraktal.ee'
    %ul
      %li= link_to 'Priit Haamer', 'http://www.priithaamer.com/blog'
      %li= link_to 'Tanel Jakobsoo', 'https://github.com/tanelj'
      %li= link_to 'Mikk Pristavka', 'https://github.com/mikkpr'

  %li
    %h2 Freelancers
    %ul
      %li= link_to 'John W. Fail', 'http://www.icewhistle.com'

  %li
    %h2= link_to 'GiTLAB', 'http://gitlab.eu'
    %ul
      %li= link_to 'Andres Keskküla', 'https://github.com/kurjam'
      %li= link_to 'Priit Tamboom', 'https://twitter.com/priit'
      %li= link_to 'Martin Lensment', 'http://mlensment.github.io/'
      %li Veiko Miidel

  %li
    %h2 Indefo
    %ul
      %li= link_to 'Indrek Juhkam', 'http://urgas.eu'

  %li
    %h2 INTECH
    %ul
      %li= link_to 'Artur Beljajev', 'http://artur.intech.ee'

  %li
    %h2 Nuclear
    %ul
      %li= link_to 'Alex Revin', 'http://www.twitter.com/at0mic'
      %li Roman Masalov

  %li
    %h2= link_to 'PerfectLine', 'http://www.perfectline.ee'
    %ul
      %li= link_to 'Tarmo Lehtpuu', 'https://github.com/tarmolehtpuu'
      %li= link_to 'Tanel Suurhans', 'https://github.com/tanelsuurhans'

  %li
    %h2= link_to 'Soluvi', 'http://soluvi.com'
    %ul
      %li= link_to 'Erkki Elionen', 'http://twitter.com/erkkie'
      %li Mart Karu
      %li Kaido Treial
      %li Tarmo Tänav
      %li Aivar Raudsepp
      %li Andrei Gorin
      %li Margus Pärt

  %li
    %h2= link_to 'Taevas', 'http://taevas.ee'
    %ul
      %li= link_to 'Mika Tuupola', 'http://www.appelsiini.net/'
      %li= link_to 'Dmitri Smirnov', 'http://www.dmitri.me/'

  %li
    %h2= link_to 'Wisesoft', 'http://wisesoft.ee'
    %ul
      %li Tarmo Talu

  %li
    %h2 Ruby Alumns
    %ul
      %li Tõnis Märtmaa
