.row
  .col-md-4
    %h2.text-nowrap Active consulting
    - (data.members['active-consulting'] || []).sort_by { |company| company.name }.each do |company|
      %ul
        %li
          %h3.list
            = text_or_link_to(company['name'], company['url'])
          %span
            %small
              = "est #{company['company_reg_year']},"
              = text_or_link_to("Nº #{company['reg_no']} Teatmik", company['teatmik_url'])
          - if company['people']
            %ul.mt-1
              - company['people'].each do |person|
                %li
                  \-
                  = text_or_link_to(person['name'], person['url'])

    %h2 Consulting
    - (data.members['consulting'] || []).sort_by { |company| company.company_reg_year }.each do |company|
      %ul
        %li
          %h3.list
            = text_or_link_to(company['name'], company['url'])
          %span
            %small
              = "est #{company['company_reg_year']},"
              = text_or_link_to("Nº #{company['reg_no']} Teatmik", company['teatmik_url'])
          - if company['people']
            %ul.mt-1
              - company['people'].each do |person|
                %li
                  \-
                  = text_or_link_to(person['name'], person['url'])

  .col-md-4
    %h2 Services
    - (data.members['service'] || []).sort_by { |company| company.name }.each do |company|
      %ul
        %li
          %h3.list
            = text_or_link_to(company['name'], company['url'])
          %span
            %small
              = "est #{company['company_reg_year']},"
              = text_or_link_to("Nº #{company['reg_no']} Teatmik", company['teatmik_url'])
          - if company['people']
            %ul.mt-1
              - company['people'].each do |person|
                %li
                  \-
                  = text_or_link_to(person['name'], person['url'])

  .col-md-2
    %h2 Freelancers
    %ul
      - (data.members['freelancers'] || []).sort_by {|f| f.name }.each do |freelancer|
        %li.text-nowrap
          = text_or_link_to(freelancer['name'], freelancer['url'])

    %h2 Members
    %ul
      - (data.members['members'] || []).sort_by {|f| f.name }.each do |freelancer|
        %li.text-nowrap
          = text_or_link_to(freelancer['name'], freelancer['url'])
