%ul
  %li
    %h3= link_to 'Meetup', 'https://tallinn.ruby.ee'

    %p Tule meie igakuisele koosolekule.

  %li
    %h3
      = link_to 'Google grupp', 'http://groups.google.com/group/rubyee'
      = link_to 'rss', 'http://groups.google.com/group/rubyee/feed/atom_v1_0_msgs.xml?num=50', :class => 'feed'

    %p Võta osa ruby vestlustest ja tutvu teistega.

  %li
    %h3
      = link_to 'Facebook grupp', 'https://www.facebook.com/groups/540371525976518'
      = link_to 'rss', 'https://www.facebook.com/groups/540371525976518', :class => 'feed'
    %p Liitu Facebook grupiga.

.clearfix
