- @layout = 'en'

#top
  %h1
    %span.iconic i
    Rubyest meetup

.mar-20
  %p
    Rubyest meetup is heavily inspired by Barcelona on Rails and London LRUG meetups. 
    Our aim is to engage people and exchange ruby technology and knowledge.

  %h2 Seminar topics
  %p
    Most meetup topics are related to ruby programming, however we welcome other topics
    as long as it is interesting for ruby people. You are welcome to make a presentation, 
    please email to 
    = link_to 'Priit', 'mailto:priit@gitnation.com'

  %h2 Who is coming
  %p
    We expect to see ruby professionals, beginners and students.

  %h2 Regular schedule
  %p
    Currently we are organizing meetups four times in year - 
     January, April, July and October. Meetup takes place 
    <b>on the second Thursday of the month starting 18:30</b>.

  %h2 Place
  %p
    Seminar takes place at Estonia IT College
    %br
    <b>Room 209</b>
    %br
    <b>Raja 4C</b>
    %br
    12616 Tallinn
  = partial 'meetup-map'
  %p
    = img 'itcollege.jpg'

  %h2 Pub time
  %p
    After the seminar we go for a beer at
    = link_to 'Kannu Kõrts', 'http://www.restoranid.ee/index.php?id=10547'
    (Kadaka str 183).


  %h2 More info
  %p
    Before every meetup we send an invitation to our
    = link_to 'official list', 'http://groups.google.com/group/rubyee'
    so please follow it, thank you!
