%ul
  %li= link 'Cannedapps', 'http://cannedapps.com'
  %li= link 'Fraktal', 'http://fraktal.ee'
  %li= link 'Jalarex', 'http://jalarex.ee'
  %li= link 'Gitnation', 'http://gitnation.com'
  %li= link 'Saiku', 'http://saiku.ee'
  %li= link 'Soluvi', 'http://soluvi.com'
  %li= link 'Taevas', 'http://taevas.ee'
  %li= link 'Wisesoft', 'http://wisesoft.ee'
