%ul
  %li
    %h2= link 'Cannedapps', 'http://cannedapps.com'
    %ul
      %li= link 'Kevin Valdek', 'http://www.kevinvaldek.com'
      %li= link 'Anton Narusberg', 'http://www.twitter.com/antonnarusberg'
      %li Kenneth Valdek

  %li
    %h2= link 'Fraktal', 'http://fraktal.ee'
    %ul
      %li= link 'Priit Haamer', 'http://www.priithaamer.com/blog'
      %li Tanel Jakobsoo

  %li
    %h2= link 'Jalarex', 'http://jalarex.ee'
    %ul
      %li= link 'Alex Revin', 'http://www.twitter.com/at0mic'
      %li= link 'Jaroslav Kalistsuk', 'http://www.twitter.com/rlekalija'
      %li Andrei Karpenko
      %li Roman Masalov
      %li Manuel Anayalink 
      
  %li
    %h2= link 'Gitnation', 'http://gitnation.com'
    %ul
      %li= link 'Priit Tamboom', 'http://priit.mx.ee'

  %li
    %h2= link 'Saiku', 'http://saiku.ee'
    %ul
      %li Priidik Vaikla

  %li
    %h2= link 'Soluvi', 'http://soluvi.com'
    %ul
      %li= link 'Erkki Elionen', 'http://twitter.com/erkkie'
      %li Mart Karu
      %li Tarmo Tänav

  %li
    %h2= link 'Taevas', 'http://taevas.ee'
    %ul
      %li= link 'Mika Tuupola', 'http://www.appelsiini.net/'
      %li= link 'Dmitri Smirnov', 'http://www.dmitri.me/'

  %li
    %h2
      = link 'Wisesoft', 'http://wisesoft.ee'
      %ul 
        %li Tarmo Talu
   
