%ul
  %li
    %h2= link 'Apprise', 'http://apprise.eu'
    %ul
      %li= link 'Tanel Lebedev', 'http://twitter.com/_tanel'
  %li
    %h2= link 'Baltic IT Solutions', 'http://bits.ee'
    %ul
      %li= link 'Zahhar Kirillov', 'http://www.twitter.com/bits_ee'
      %li Andrei Filimonov
      %li= link 'Dmitri Semirenko', 'http://www.twitter.com/semirenko'
  %li
    %h2= link 'Cannedapps', 'http://cannedapps.com'
    %ul
      %li= link 'Kevin Valdek', 'http://www.kevinvaldek.com'
      %li= link 'Anton Narusberg', 'http://www.twitter.com/antonnarusberg'
      %li Kenneth Valdek

  %li
    %h2= link 'Desk Rock', 'http://deskrock.ee'
    %ul
      %li Janno Siilbek
      %li Romet Varts
      %li Rainer Sai
      %li Katrin Kibbal
      %li Martin Lensment
      %li= link 'Mihkel Sokk', 'http://mihkel.sokk.ee'
  %li
    %h2= link "EENet", 'http://www.eenet.ee'
    %ul
      %li= link 'Laas Toom', 'http://blog.laaz.org'
      %li Ragnar Vutt

  %li
    %h2= link 'Fraktal', 'http://fraktal.ee'
    %ul
      %li= link 'Priit Haamer', 'http://www.priithaamer.com/blog'
      %li Tanel Jakobsoo
      %li= link 'Rasmus Piho', 'https://github.com/rzmz'

  %li
    %h2= link 'GiTLAB', 'http://gitlab.eu'
    %ul
      %li= link 'Priit Tamboom', 'http://priit.mx.ee'
      %li Veiko Miidel

  %li
    %h2 INTECH
    %ul
      %li= link 'Artur Beljajev', 'http://artur.intech.ee'

  %li
    %h2 Nuclear
    %ul
      %li= link 'Alex Revin', 'http://www.twitter.com/at0mic'
      %li Roman Masalov

  %li
    %h2= link 'PerfectLine', 'http://www.perfectline.ee'
    %ul
      %li= link 'Tarmo Lehtpuu', 'https://github.com/tarmolehtpuu'
      %li= link 'Tanel Suurhans', 'https://github.com/tanelsuurhans'

  %li
    %h2= link 'Soluvi', 'http://soluvi.com'
    %ul
      %li= link 'Erkki Elionen', 'http://twitter.com/erkkie'
      %li Mart Karu
      %li T천nis M채rtmaa
      %li Kaido Treial
      %li Tarmo T채nav
      %li Aivar Raudsepp
      %li Andrei Gorin
      %li Margus P채rt
  %li
    %h2= link 'Taevas', 'http://taevas.ee'
    %ul
      %li= link 'Mika Tuupola', 'http://www.appelsiini.net/'
      %li= link 'Dmitri Smirnov', 'http://www.dmitri.me/'

  %li
    %h2= link 'Wisesoft', 'http://wisesoft.ee'
    %ul 
      %li Tarmo Talu
