%ul
  %li
    %h3
      = link '<span class="iconic">j</span> Google grupp', 'http://groups.google.com/group/rubyee'
      = link 'r', 'http://groups.google.com/group/rubyee/feed/atom_v1_0_msgs.xml?num=50', :class => 'feed iconic'
    
    %p Võta osa ruby vestlustest ja tutvu teistega.
  %li
    %h3
      = link '<span class="iconic">q</span> Delicious', 'http://www.delicious.com/tag/ruby_ja_rails'
      = link 'r', 'http://feeds.delicious.com/v2/rss/tag/ruby_ja_rails?count=15', :class => 'feed iconic'
    
    %p Loe ja jaga huvitavaid artikleid, kasuta silti 'ruby_ja_rails'
  %li
    %h3
      = link '<span class="iconic">q</span> Ruby algajatele', 'http://www.delicious.com/tag/ruby_algajatele'
      = link 'r', 'http://feeds.delicious.com/v2/rss/tag/ruby_algajatele?count=15', :class => 'feed iconic'
    
    %p Kasulikud artiklid alustajale, kasuta silti 'ruby_algajatele'

  %li
    %h3
      = link '<span class="iconic">q</span>Podcasts', 'http://podcasts.prii.it/confreaks'
      = link 'r', 'http://podcasts.prii.it/confreaks', :class => 'feed iconic'
    %p Podcastid mida soovitame vaadata.

  %li
    %h3
      = link '<span class="iconic">q</span>Facebook group', 'https://www.facebook.com/groups/540371525976518'
      = link 'r', 'https://www.facebook.com/groups/540371525976518', :class => 'feed iconic'
    %p Liitu Facebook groupiga.


.clearfix
