%ul
  %li
    %h3
      = link 'Google grupp', 'http://groups.google.com/group/rubyee'
      = link 'RSS', 'http://groups.google.com/group/rubyee/feed/atom_v1_0_msgs.xml?num=50', :class => 'feed'
    
    %p Võta osa ruby vestlustest ja tutvu teistega.
  %li
    %h3= link 'Delicious', 'http://www.delicious.com/tag/ruby_ja_rails'
    = link img('feed-icon.png'), 'http://feeds.delicious.com/v2/rss/tag/ruby_ja_rails?count=15', :class => 'feed'
    %p Loe ja jaga huvitavaid artikleid, kasuta silti 'ruby_ja_rails' 
  %li
    %h3= link 'Ruby algajatele', 'http://www.delicious.com/tag/ruby_algajatele'
    = link img('feed-icon.png'), 'http://feeds.delicious.com/v2/rss/ruby_algajatele?count=15', :class => 'feed'
    %p Kasulikud artiklid alustajale, <br/>kasuta silti 'ruby_algajatele' 
