%ul
  %li
    %h2= link 'Google groupp', 'http://groups.google.com/group/rubyee'
    = link img('feed-icon.png'), 'http://groups.google.com/group/rubyee/feed/atom_v1_0_msgs.xml?num=50', :class => 'feed'
    %p Võta osa ruby vestlustest, suhtle teistega.
  %li
    %h2= link 'Delicious', 'http://www.delicious.com/tag/ruby_ja_rails'
    = link img('feed-icon.png'), 'http://feeds.delicious.com/v2/rss/tag/ruby_ja_rails?count=15', :class => 'feed'
    %p Loe ja jaga huvitavaid artikleid, kasuta ruby_ja_rails silti. 
  %li
    %h2= link 'Ruby algajatele', 'http://www.delicious.com/tag/ruby_algajatele'
    = link img('feed-icon.png'), 'http://feeds.delicious.com/v2/rss/ruby_algajatele?count=15', :class => 'feed'
    %p Artiklid alustajatele, <br/>kasuta ruby_algajatele silti. 
