!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "UTF-8"}
    %title= current_page.data.title.nil? ? 'Rubyest' : "#{current_page.data.title} • Rubyest"
    %meta{:name => 'description', :content => 'We are Ruby User Group in Estonia.'}

    = stylesheet_link_tag 'app'

  %body
    #topline
    #container
      #header
        #lang-nav
          = link_to 'In Estonian', '/'
        #nav
          = link_to 'Members', '/members'
          = link_to 'About', '/about'
        #logo
          = link_to 'Rubyest', '/en', :id => :rubyest

      #main
        #content
          = yield

      #footer
        %p
          powered by <a href='/info'>Rubyest</a>


