!!! 5
%html{:lang => 'et'}
  %head
    %meta{:charset => "UTF-8"}
    %title= @title.nil? ? 'Rubyest' : "#{@title} • Rubyest"
    %meta{:name => 'description', :content => 'Oleme Ruby programmeerimiskeele kasutajad ja entusiastid Eestis.'}
    
    = stylesheets

  %body
    #topline
    #container
      #header
        #nav
          = link_to '<span class="iconic">u</span> Inimesed', '/inimesed'
          = link_to '<span class="iconic">!</span> Firmad', '/firmad'
          = link_to '<span class="iconic">i</span> Info', '/info'
        #logo
          = link_to 'Rubyest', '/', :id => :rubyest

      #main
        #content
          = yield

      #footer
        %p
          powered by nginx
          • generated with
          = link_to 'staticmatic', 'http://staticmatic.rubyforge.org'
          • design by
          = link_to 'fraktal', 'http://www.fraktal.ee'
