!!! 5
%html{:lang => 'et'}
  %head
    %meta{:charset => "UTF-8"}
    %title= @title.nil? ? 'Rubyest' : "#{@title} • Rubyest"
    %meta{:name => 'description', :content => 'Oleme Ruby programmeerimiskeele kasutajad ja entusiastid Eestis.'}
    
    = stylesheets

  %body
    #topline
    #container
      #header
        #lang-nav
          = link_to 'In English', '/en'
        #nav
          = link_to '<span class="iconic">j</span> Seminar', '/seminar'
          = link_to '<span class="iconic">u</span> Inimesed', '/inimesed'
          = link_to '<span class="iconic">i</span> Info', '/info'
        #logo
          = link_to 'Rubyest', '/', :id => :rubyest


      #main
        #content
          = yield

      #footer
        #like
          = partial 'like-button'
        %p
          powered by <a href='/info'>Rubyest</a>
        #twitter
          = partial 'twitter'
