!!! 5
%html
  %head{:lang => 'et'}
    %meta{:charset => "UTF-8"}
    %title= @title.nil? ? 'Eesti Ruby Klubi' : "#{@title} :: Eesti Ruby Klubi"
    %meta{:name => 'description', :content => 'Eesti Ruby Klubi => gem install ruby-fän'}
    
    = stylesheets

  %body
    #container
      #header
        #nav
          = link_to 'Inimesed', '/inimesed'
          |
          = link_to 'Firmad', '/firmad'
        #bg
        #logo
          = link img('ruby.png'), '/'
          %h1= link 'Eesti Ruby Klubi', '/'
          %span gem install ruby-fän...

      #main
        #content
          = yield

        #aside
          .sidebar
            %h3 Millega tegu?
            %p 
              Oleme <a href='http://ruby-lang.org'>Ruby programmeerimiskeele</a> kasutajad ja entusiastid. 

            %h3 Suhtluskanalid
            .suhtlus
              = partial 'suhtluskanalid'

      #footer
        %p
          Powered by nginx | generated with <a href='http://staticmatic.rubyforge.org/'>Staticmatic</a>
          | template by <a href='http://www.oswd.org/design/preview/id/3468'>Pet Template</a>
