!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "UTF-8"}
    %title= @title.nil? ? 'Rubyest' : "#{@title} • Rubyest"
    %meta{:name => 'description', :content => 'We are Ruby User Group in Estonia.'}
    
    = stylesheets

  %body
    #topline
    #container
      #header
        #lang-nav
          = link_to 'In Estonian', '/'
        #nav
          = link_to '<span class="iconic">j</span> Meetup', '/meetup'
          = link_to '<span class="iconic">u</span> Members', '/members'
          = link_to '<span class="iconic">i</span> About', '/about'
        #logo
          = link_to 'Rubyest', '/en', :id => :rubyest

      #main
        #content
          = yield

      #footer
        %p
          powered by <a href='/about'>Rubyest</a>
