---
layout: layouts/en
---

#top
  %h1
    How does Rubyest work?

.mar-20
  .row
    .col-12
      %h2 Collaborative Effort
      %ul
        %li
          = link_to 'Domify', 'http://domify.io'
          manages, maintains, and hosts
        %li
          = link_to 'Fraktal', 'http://www.fraktal.ee'
          created the visual design
        %li
          = link_to 'Soluvi', 'http://soluvi.com'
          sponsors the ruby.ee domain

      %h2 How to Update the Website?

      %p
        All the content of the site is in the GitHub repository
        = link_to 'rubyee', 'http://github.com/priit/rubyee'
        Clone the repository, save your changes, and notify about updates on GitHub.
      %p 
        We currently use the Ruby 
        = link_to 'Middleman', 'https://rubygems.org/gems/middleman/'
        generator to manage the site. Therefore, for both content and visual design updates, 
        git clone is your friend.

      %p 
        We reserve the right to regularly clean and update the member list without prior written notice.
        
      %p 
        Ruby.ee is also open to more significant changes, such as creating a forum. The only condition is that whoever proposes the idea must have the energy and willingness to develop and manage it, as many of us are very busy with work.
