---
layout: layouts/en
---

#top
  %h1
    How does Rubyest work?

.mar-20
  %h2 With community effort
  %ul
    %li
      = link_to 'Fraktal', 'http://www.fraktal.ee'
      provides desing
    %li
      = link_to 'Domify', 'http://domify.io'
      everyday managment and hosting
    %li
      = link_to 'Soluvi', 'http://soluvi.com'
      provides ruby.ee domain

  %h2 Thank you for creating amazing tools
  %ul
    %li
      = link_to 'linux', 'http://linux.com'
      \- ecosystem 
    %li 
      = link_to 'nginx', 'http://wiki.nginx.org/'
      \- server

  %h2 How to contribute to Rubyest site?
  %p
    All site content is accessible at github's <a href='http://github.com/priit/rubyee'>rubyee repo</a>
    Please clone it and send us merge request.
    We are using very nice <a href='https://rubygems.org/gems/middleman'>Middleman</a>
    generator, so please investigate it a bit before contributing.
    
  %p 
    Rubyest is open for major contributions as well, however we have one simple rule: whatever
    you build, please find time to support your effort in long term, because most of us are 
    already very busy with our day job.

  %p
    We have rights to remove and update member's list.
