#top
  %h1
    Kuidas Rubyest toimib?

.mar-20
  .row
    .col-12
      %h2 Ühine koostöö
      %ul
        %li
          = link_to 'Domify', 'http://domify.io'
          haldab, majandab ja hostib
        %li
          = link_to 'Fraktal', 'http://www.fraktal.ee'
          lõi visuaalse disaini
        %li
          = link_to 'Soluvi', 'http://soluvi.com'
          sponsoreerib ruby.ee domeeniga

      %h2 Kuidas lehekülge uuendada?

      %p
        Kogu lehe sisu asub GitHubi hoidlas
        = link_to 'rubyee', 'http://github.com/priit/rubyee'
        Loo kloon, salvesta täiendused ja teavita GitHubis uuendustest.
      %p 
        Lehe haldamiseks kasutame Ruby 
        = link_to 'Middleman', 'https://rubygems.org/gems/middleman/'
        generaatorit. Seega nii sisu kui ka visuaalse disaini täienduste puhul on 
        git clone sinu sõber.

      %p 
        Jätame endale õiguse regulaarselt liikmete nimekirja puhastada ja uuendada ilma kirjaliku teavituseta.
        
      %p 
        Ruby.ee on avatud ka suurematele muudatustele, näiteks oma foorumi loomisele. Ainuke tingimus on, et kes idee välja käib, leiab ka jõudu ja tahet seda arendada ja hallata, sest paljud meist on tööga väga hõivatud.
