#top
  %h1
    Kuidas Rubyest toimib?

.mar-20
  %h2 Tänu ühisele koostööle
  %ul
    %li
      = link_to 'Fraktal', 'http://www.fraktal.ee'
      vastutab visuaalse disaini eest
    %li
      = link_to 'Domify', 'http://domify.io'
      majandab ja hostib
    %li
      = link_to 'Soluvi', 'http://soluvi.com'
      sponsoreerib ruby.ee domeeniga

  %h2 Tänu tööriistade tegijatele
  %ul
    %li
      = link_to 'linux', 'http://linux.com'
      \- ökosüsteem
    %li 
      = link_to 'nginx', 'http://wiki.nginx.org/'
      \- server
    %li
      = link_to 'middleman', 'https://rubygems.org/gems/middleman'
      \- staatiliste lehtede generaator

  %h2 Kuidas lehekülge uuendada?
  %p
    Kogu lehe sisu asub githubi <a href='http://github.com/priit/rubyee'>rubyee</a>
    hoidlas. Loo kloon ja salvesta täiendused ning teavita githubis uuendustest.
  %p 
    Lehe haldamiseks kasutame hetkel ruby <a href='https://rubygems.org/gems/middleman/'>Middleman</a>
    generaatorit. Seega nii sisu kui ka visuaalse disaini täienduste puhul on git clone sinu sõber.

  %p 
    Jätame endale õiguse iga teatud aja tagant teha liikmete nimekirja puhastusi ja uuendusi ilma kirjaliku teavituseta.
    
  %p 
    Ruby.ee on avatud ka suurematale muudatustele, näiteks oma foorum jne. Ainuke
    tingimus, et kes käib idee välja, peab leidma jõudu ja tahet seda arendada-hallata, 
    sest paljud meist on tööga väga hõivatud.
