#top
  %h1
    Kuidas Rubyest toimib?

.mar-20
  %h2 Tänu ühisele koostööle
  %ul
    %li
      = link_to 'Fraktal', 'http://www.fraktal.ee'
      vastutab visuaalse disaini eest
    %li
      = link_to 'GiTLAB', 'http://gitlab.eu'
      majandab ja hostib
    %li 
      = link_to 'IT Kolledž', 'itcollege.ee'
      sponsoreerib seminari ruumidega
    %li
      = link_to 'Soluvi', 'http://soluvi.com'
      sponsoreerib ruby.ee domeeniga

  %h2 Tänu tööriistade tegijatele
  %ul
    %li
      = link_to 'linux', 'http://linux.com'
      \- ökosüsteem
    %li 
      = link_to 'nginx', 'http://wiki.nginx.org/'
      \- server
    %li
      = link_to 'staticmatic', 'http://staticmatic.rubyforge.org'
      \- staatiliste lehtede generaator

  %h2 Kuidas lehekülge uuendada?
  %p
    Kogu lehe sisu asub githubi <a href='http://github.com/priit/rubyee'>rubyee</a>
    hoidlas. Loo kloon ja salvesta täiendused ning teavita githubis uuendustest.
  %p 
    Lehe haldamiseks kasutame hetkel ruby <a href='http://staticmatic.rubyforge.org/'>Staticmatic</a>
    generaatorit. Seega nii sisu kui ka visuaalse disaini täienduste puhul on git clone sinu sõber.
    
  %p 
    Ruby.ee on avatud ka suurematale muudatustele, näiteks oma foorum jne. Ainuke
    tingimus, et kes käib idee välja, peab leidma jõudu ja tahet seda arendada, 
    sest paljud meist on tööga väga hõivatud.
